---
import { getCollection } from 'astro:content';
import ImageCarousel from '../components/ImageCarousel.vue';
import { localizeDate } from '../date.ts';
import Layout from '../layouts/Layout.astro';
import { getPhotos } from '../photos.ts';

const photos = getPhotos();
const news = (await getCollection('activities'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout>
  <header class="mb-12">
    <h1 class="font-extrabold text-4xl text-slate-900 tracking-tight">
      风采活动
    </h1>
    <p class="mt-4 text-lg text-slate-600">
      探索 TIDE Lab 的科研环境与团队生活。
    </p>
  </header>

  <section class="mb-20">
    <div class="overflow-hidden bg-slate-5 rounded-3xl shadow-xl sm:aspect-21/9">
      <ImageCarousel
        client:load
        photos={photos}
        autoPlayInterval={5000}
      />
    </div>
  </section>

  <section>
    <header class="flex items-center mb-12">
      <h2 class="font-bold text-2xl text-slate-900">
        最新动态
      </h2>
      <div class="flex-1 ml-4 h-px bg-slate-100"></div>
    </header>

    <div class="divide-slate-100 divide-y">
      {news.map((item) => (
        <article class="group">
          <a
            href={`/activities/${item.id}`}
            class="flex items-baseline py-5 hover:text-blue-600 transition-colors"
          >
            <time
              class="shrink-0 w-28 font-medium text-slate-400 text-sm tabular-nums"
            >
              {localizeDate(item.data.date)}
            </time>

            <h3 class="font-medium text-base text-slate-700 group-hover:text-blue-600 transition-colors">
              {item.data.title}
            </h3>

            <span
              class="ml-auto font-serif text-slate-300 text-xs group-hover:text-blue-400 transition-colors"
            >
            </span>
          </a>
        </article>
      ))}
    </div>
  </section>
</Layout>
