---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="mb-6 font-extrabold leading-tight text-4xl text-slate-900 tracking-tight sm:text-5xl md:text-6xl">
    <span class="text-blue-600 bg-clip-text">T</span>ime-series,
    <span class="text-blue-600 bg-clip-text">I</span>maging,

    <br class="hidden md:block" />

    <span class="text-blue-600 bg-clip-text">D</span>igital Health &
    <br class="hidden md:block" />
    <span class="text-blue-600 bg-clip-text">E</span>ngineering.
  </h1>

  <p class="mb-10 leading-relaxed text-lg text-slate-600 sm:text-xl">
    我们致力于通过跨学科工程技术，解决医疗与工业领域中最具挑战性的时间序列与影像分析问题。
  </p>
</Layout>
